.button-before{
    width: 150px;
    height: auto;
}

.filterFlag{
    display: block;
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.flag{
    display: none;
}

.visible{
  display: block;
}